@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal Animation */
@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal-enter {
  animation: modalEnter 0.2s ease-out;
}

.mask:after {
  mask: linear-gradient(rgb(255 255 255) 0 0) content-box,
    linear-gradient(rgb(255 255 255) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
